@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px; /* Fino e elegante para um launcher */
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* A barra em si (thumb) */
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-300 dark:bg-neutral-700 rounded-full;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400 dark:bg-neutral-600;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
